:root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(164, 159, 159, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #1f1d20;
  --surface: #2a282b;
  --surface-2: #1f1d20;
  --text: #f5ecdc;
  --muted: rgba(245, 236, 220, 0.75);
  --border: rgba(245, 236, 220, 0.25);
  --accent: #ff6f61;
}

:root[data-theme="light"] {
  --bg: #d6d0d0;
  --surface: #ffffff;
  --surface-2: #f3efef;
  --text: #151515;
  --muted: rgba(0, 0, 0, 0.65);
  --border: rgba(0, 0, 0, 0.15);
  --accent: #ff6f61;
  --borderColor: black;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--text);
}
.main {
  flex: 1;
  width: 100%;
}



